<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拾忆</title>

    <style>
        a { text-decoration: none;}

        .title_logo { height: 50px; margin: 2em 0 2em 2em; }
        .title_logo>span { float: left; text-align: center; line-height: 25px; margin-top: 13px; }
        .title_logo>span>a { width: 26px; height: 24px; display: block; font-weight: bold; }
        .title_span_to_to>a:hover { background: #52575d; }
        .title_span_to, .title_logo>.title_span_to>a { background: #ffffff; color: #414141; }
        .title_logo>span>a, .title_span_to>a:hover{ background: #414141; color: #ffffff; }
        .title_logo>div>{width: 200px; height: 50px; }
        .title_logo>div>span { font-weight: bold; color: #414141; }


        ul { list-style: none; margin-left: 5%; }
        li { display: block; position: relative; padding: 30px; float: left; width: 400px; height: 250px; margin: 1% 2.3%; border: 4px solid; }
        .top_label { position: absolute; top: 0; left: 0; padding: 2px 14px 2px 10px; color: #ffffff; }
        .content_list {margin-top: 10px; flex-flow: wrap; height: 250px; overflow: auto; position: relative;}
        .content_list::-webkit-scrollbar { display: none; }
        .content_list > span { display: block; width: 33%; height: 30px; float: left; text-align: center; margin: 1.3% 0.1%; }

        .content_list>span>a{ font-weight: bold; color: #414141FF; font-size: 20px; }
        .content_list>span>a:hover{ color: #ff5252cc; }

    </style>
</head>

<body>

<div class="title_logo" >
    <span class="title_span_to_to" > <a href=""> Y </a> </span>
    <span class="title_span_to_to"> <a href=""> U </a> </span>
    <span class="title_span_to"> <a href="https://soicecream.github.io/eleven/#/" title="传送"> H </a> </span>
    <span class="title_span_to_to"> <a href=""> M </a> </span>
    <span class="title_span_to_to"> <a href=""> E </a> </span>
    <span class="title_span_to_to" > <a href="https://soicecream.github.io/soicecreams.github.io/" title="隔壁"> · </a> </span>

    <div style="float: right; text-align: center;">
        <span class="ShowNowDate"> </span>
        <br>
        <span class="ShowNowTime"> </span>
    </div>
</div>


<div class="content">
    <ul>
        <!-- 搜索 -->
        <li style="border-color: #414141FF"
            onmouseover="this.style.borderColor = '#414141FF'"
            onmouseout="this.style.borderColor = '#414141FF'">
            <div>
                <div style="background: #414141FF " class="top_label"> 搜索 </div>
                <div class="content_list" >
                    <span > <a href="https://www.baidu.com/" title="百度一下,你就知道" target="_blank"> 百度 </a> </span>
                    <span > <a href="https://www.weibo.com/" title="随时随地发现新鲜事" target="_blank"> 微博 </a> </span>
                    <span > <a href="https://www.zhihu.com/" title="中文互联网高质量的问答社区和创作者聚集的原创内容平台" target="_blank"> 知乎 </a> </span>

                    <span > <a href="https://www.bilibili.com/" title="哔哩哔哩 (゜-゜)つロ 干杯~" target="_blank"> B站 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://mail.qq.com/" title="" target="_blank"> qq邮箱 </a> </span>
                    <span > <a href="https://mail.163.com/" title="" target="_blank"> 网易邮箱 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://www.csdn.net/" title="全球知名中文IT技术交流平台" target="_blank"> CSDN </a> </span>
                    <span > <a href="https://www.cnblogs.com/" title="一个面向开发者的知识分享社区" target="_blank"> 博客云 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span><a href="" target="_blank" title="">  </a></span>
                    <span><a href="" target="_blank" title="">  </a></span>
                    <span><a href="" target="_blank" title="">  </a></span>

                    <span > <a href="https://www.dbbqb.com/" title="表情包搜索" target="_blank"> 逗逼拯救世界 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                </div>
            </div>
        </li>

        <!-- 追剧 -->
        <li style="border-color: #414141FF"
            onmouseover="this.style.borderColor = '#414141FF'"
            onmouseout="this.style.borderColor = '#414141FF'">
            <div>
                <div style="background: #414141FF " class="top_label"> 追剧 </div>
                <div class="content_list" >
                    <span > <a href="https://www.iqiyi.com/" title="" target="_blank"> 爱奇艺 </a> </span>
                    <span > <a href="https://v.qq.com/" title="" target="_blank"> 腾讯视频 </a> </span>
                    <span > <a href="https://www.youku.com/" title="" target="_blank"> 优酷视频 </a> </span>

                    <span > <a href="https://www.mgtv.com/" title="" target="_blank"> 芒果视频 </a> </span>
                    <span > <a href="https://www.migu.cn/index.html" title="" target="_blank"> 咪咕视频 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://www.btnull.org/" title="" target="_blank"> 片库 </a> </span>
                    <span > <a href="https://www.nkvod.cc" title="" target="_blank"> 耐看点播 </a> </span>
                    <span > <a href="http://www.5ying.fun/" title="" target="_blank"> 555电影 </a> </span>

                    <span > <a href="https://cupfox.app/" title="" target="_blank"> 茶杯狐 </a> </span>
                    <span > <a href="https://ddrk.me/tag/recommend/" title="" target="_blank"> 低端影视 </a> </span>
                    <span > <a href="http://www.blssv.com/" title="" target="_blank"> 奇粹影视 </a> </span>
                </div>
            </div>
        </li>

        <!-- 学习 -->
        <li style="border-color: #414141FF"
            onmouseover="this.style.borderColor = '#414141FF'"
            onmouseout="this.style.borderColor = '#414141FF'">
            <div>
                <div style="background: #414141FF " class="top_label"> 学习 </div>
                <div class="content_list" >
                    <span > <a href="https://passport2.chaoxing.com/login?fid=&newversion=true&refer=https%3A%2F%2Fi.chaoxing.com" title="" target="_blank"> 学习通 </a> </span>
                    <span > <a href="https://www.lanrenexcel.com/" title="学习Excel 我也不知道好还是不好" target="_blank"> 懒人Excel </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="http://58.244.173.36/netjw/" title="" target="_blank"> 教务系统 </a> </span>
                    <span > <a href="https://www.qijishow.com/" title="" target="_blank"> 奇迹秀 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                </div>
            </div>
        </li>

        <!-- 工具 -->
        <li style="border-color: #414141FF"
            onmouseover="this.style.borderColor = '#414141FF'"
            onmouseout="this.style.borderColor = '#414141FF'">
            <div>
                <div style="background: #414141FF " class="top_label"> 工具 </div>
                <div class="content_list" >
                    <span > <a href="http://fanyi.baidu.com/" title="" target="_blank"> 百度翻译 </a> </span>
                    <span > <a href="http://fanyi.youdao.com/" title="" target="_blank"> 有道词典 </a> </span>
                    <span > <a href="https://translate.google.cn/" title="" target="_blank"> 谷歌翻译 </a> </span>

                    <span > <a href="https://fanyi.sogou.com/text" title="" target="_blank"> 搜狗翻译 </a> </span>
                    <span > <a href="https://www.deepl.com/translator" title="全世界最准确的翻译" target="_blank"> DeepL </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://ppt.sotary.com/web/wxapp/index.html" title="" target="_blank"> PPT模板 </a> </span>
                    <span > <a href="https://www.pdfpai.com/" title="" target="_blank"> PDF转换 </a> </span>
                    <span > <a href="https://vocalremover.org/ch/" title="对声音的一些处理" target="_blank"> 调音 </a> </span>

                    <span > <a href="https://app.diagrams.net/" title="" target="_blank"> 流程图 </a> </span>
                    <span > <a href="https://xiezuocat.com/#/" title="" target="_blank"> 论文降重 </a> </span>
                    <span > <a href="https://www.iconfont.cn/" title="阿里的矢量图图库" target="_blank"> 矢量图 </a> </span>

                    <span > <a href="https://www.uupoop.com/#/" title="" target="_blank"> 在线PS </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://xiaomark.com/tool" title="" target="_blank"> 工具1 </a> </span>
                    <span > <a href="https://tooltt.com/" title="" target="_blank"> 工具2 </a> </span>
                    <span > <a href="https://www.toolfk.com/" title="" target="_blank"> 工具3 </a> </span>

                    <span > <a href="https://www.toolmao.com/#term-102" title="" target="_blank"> 工具4 </a> </span>
                    <span > <a href="https://ujuji.com/" title="" target="_blank"> 工具5 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                </div>
            </div>
        </li>

        <!-- 娱乐 -->
        <li style="border-color: #414141FF"
            onmouseover="this.style.borderColor = '#414141FF'"
            onmouseout="this.style.borderColor = '#414141FF'">
            <div>
                <div style="background: #414141FF " class="top_label"> 娱乐 </div>
                <div class="content_list" >
                    <span > <a href="https://www.douyu.com/" title="" target="_blank"> 斗鱼 </a> </span>
                    <span > <a href="https://www.huya.com/" title="" target="_blank"> 虎牙 </a> </span>
                    <span > <a href="https://www.douyin.com/?enter=guide" title="" target="_blank"> 抖音 </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://music.163.com/" title="" target="_blank"> 网易云音乐 </a> </span>
                    <span > <a href="https://y.qq.com/" title="" target="_blank"> qq音乐 </a> </span>
                    <span > <a href="https://www.kugou.com/" title="" target="_blank"> 酷狗音乐 </a> </span>

                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://theuselessweb.com/" title="一个可以发呆的小网站 会随机蹦出一些奇奇怪怪的网站" target="_blank"> 打发时间 </a> </span>
                    <span > <a href="https://barneyzhao.gitee.io/typing-cn/#/" title="" target="_blank"> 打字 </a> </span>
                    <span > <a href="http://patorjk.com/software/taag/#p=display&f=Graffiti&t=welcome%20to%202048%20" title="字母生成字符画" target="_blank"> 字符画 </a> </span>

                    <span > <a href="https://fakeupdate.net/" title="假装windows升级界面" target="_blank"> 摸鱼神器 </a> </span>
                    <span > <a href="https://www.yikm.net/" title="童年的怀旧小游戏" target="_blank"> 小霸王游戏机 </a> </span>
                    <span > <a href="http://lab.mkblog.cn/FCGames/#/" title="童年的怀旧小游戏" target="_blank"> 游戏机 </a> </span>

                    <span > <a href="http://www.minesweeper.cn/" title="" target="_blank"> 扫雷 </a> </span>
                    <span > <a href="https://2048game.com/" title="" target="_blank"> 2048 </a> </span>
                    <span > <a href="https://www.goodoldtetris.com/" title="" target="_blank"> 俄罗斯方块 </a> </span>

                    <span > <a href="https://sorry.xuty.tk/wangjingze/" title="" target="_blank"> 表情包制作 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                </div>
            </div>
        </li>

        <!-- 插件 -->
        <li style="border-color: #414141FF"
            onmouseover="this.style.borderColor = '#414141FF'"
            onmouseout="this.style.borderColor = '#414141FF'">
            <div>
                <div style="background: #414141FF " class="top_label"> 插件 </div>
                <div class="content_list" >
                    <span > <a href="https://www.tampermonkey.net/" title="" target="_blank"> 油猴 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>

                    <span > <a href="https://greasyfork.org/zh-CN/scripts/418804-%E8%A7%A3%E9%94%81b%E7%AB%99%E5%A4%A7%E4%BC%9A%E5%91%98%E7%95%AA%E5%89%A7-b%E7%AB%99%E8%A7%86%E9%A2%91%E8%A7%A3%E6%9E%90%E4%B8%8B%E8%BD%BD-%E5%85%A8%E7%BD%91vip%E8%A7%86%E9%A2%91%E5%85%8D%E8%B4%B9%E7%A0%B4%E8%A7%A3%E5%8E%BB%E5%B9%BF%E5%91%8A-%E5%85%A8%E7%BD%91%E9%9F%B3%E4%B9%90%E7%9B%B4%E6%8E%A5%E4%B8%8B%E8%BD%BD-%E6%B2%B9%E7%AE%A1-facebook%E7%AD%89%E5%9B%BD%E5%A4%96%E8%A7%86%E9%A2%91%E8%A7%A3%E6%9E%90%E4%B8%8B%E8%BD%BD-%E7%BD%91%E7%9B%98%E6%90%9C%E7%B4%A2%E5%BC%95%E6%93%8E%E7%A0%B4%E8%A7%A3%E6%97%A0%E9%99%90%E4%B8%8B%E8%BD%BD%E7%AD%89" title="" target="_blank"> 视频会员1 </a> </span>
                    <span > <a href="https://greasyfork.org/zh-CN/scripts/370634-%E6%87%92%E4%BA%BA%E4%B8%93%E7%94%A8-%E5%85%A8%E7%BD%91vip%E8%A7%86%E9%A2%91%E5%85%8D%E8%B4%B9%E7%A0%B4%E8%A7%A3%E5%8E%BB%E5%B9%BF%E5%91%8A-%E5%85%A8%E7%BD%91%E9%9F%B3%E4%B9%90%E7%9B%B4%E6%8E%A5%E4%B8%8B%E8%BD%BD-%E7%9F%A5%E4%B9%8E%E5%A2%9E%E5%BC%BA-%E7%9F%AD%E8%A7%86%E9%A2%91%E6%97%A0%E6%B0%B4%E5%8D%B0%E4%B8%8B%E8%BD%BD-%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98%E7%9B%B4%E6%8E%A5%E4%B8%8B%E8%BD%BD%E7%AD%89%E5%A4%9A%E5%8A%9F%E8%83%BD%E5%B7%A5%E5%85%B7%E7%AE%B1-%E5%8A%9F%E8%83%BD%E5%8F%AF%E7%8B%AC%E7%AB%8B%E5%BC%80%E5%85%B3-%E9%95%BF%E6%9C%9F%E6%9B%B4%E6%96%B0-%E6%94%BE%E5%BF%83%E4%BD%BF%E7%94%A8-v5-4" title="" target="_blank"> 视频会员2 </a> </span>
                    <span > <a href="" title="" target="_blank">  </a> </span>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>

<script>

    <!--  现在的时间显示  -->
    let weeks = ["天", "一", "二", "三", "四", "五", "六"];
    function GetDate() {
        let data = new Date();
        let year = data.getFullYear();
        let month = data.getMonth() + 1;
        let day = data.getDate();

        let week = data.getDay();

        return year + "年" + month + "月" + day + "日" + " \t " + "星期" + weeks[week];
    }
    function GetTime() {
        let data = new Date();

        let hour = data.getHours(); hour = hour < 10 ? '0' + hour : hour;
        let minute = data.getMinutes(); minute = minute < 10 ? '0' + minute : minute;
        let seconds = data.getSeconds(); seconds = seconds < 10 ? '0' + seconds : seconds;

        return hour + "时" + minute + "分"  + seconds + "秒";
    }
    setInterval(function (){
        document.querySelector('.ShowNowTime').innerHTML = GetTime();
        document.querySelector('.ShowNowDate').innerHTML = GetDate();
    }, 100)

    <!-- 设置移动到上面的样式 -->
    function MoveToUp() {

    }

    <!--  背景图设置  -->
    window.onload = function (){

    }

</script>

</html>