<!DOCTYPE html><!--声明网页-->
<html lang="en">
<head>
    <meta charset="UTF-8"><!-- 这是字符类型 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 在手机上登陆网站时 大小自动于手机对应 -->
    <title>水木加贝</title><!--网页名称-->
    <style>
        div{border: 1px solid aqua;}

        #标题{height:400px;width: 1000px;text-align: center;margin: 0% auto;}
        #标题>span{font-size: 22px;color: red;}
        #标题>img{height: 270px;width: 432px;}
                
        #正文{height: 10%;width: 1000px;text-align: center;margin: 0% auto;}
        #正文>span{font-size: 20px;color: red;}
       
        #上图片{height: 180px;width: 1000px;margin: 0% auto;}
        #上图片>div{height: 160px;width: 115px;float: left;margin-top: 10px;margin-left: 2.43%;margin-right: 2.43%;}
        #上图片>div>img{height:100%;width: 100%;}
       
        #中间{height: 500px;width: 1000px;margin: 10% auto;}
        #中间>div{height: 100px;width: 90%;text-align: center;float: left;margin-top: 20px;margin-left: 4%;margin-right: 2%;}
        /* #中间>div{height: 160px;width: 115px;text-align: center;float: left;margin-top: 10px;margin-left: 2%;margin-right: 2%;}
        #中间>div>img{width: 115px;height: 115px;} */

        a{text-decoration: none;color:black;font-size: 20px;}
        a:hover{color:blue}
        a:active{color:red;}
       
        #下图片{height: 180px;width: 1000px;margin: 0% auto;}
        #下图片>div{height: 160px;width: 115px;float: left;margin-top: 10px;margin-left: 2.43%;margin-right: 2.43%;}
        #下图片>div>img{height:100%;width: 100%;}
    </style>
</head>
<body>

    <!-- <div id="标题">
        <span>我是要成为海贼王的男人！！！！！！</span>
        <br>
        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2578059283,3786974076&fm=26&gp=0.jpg">
    </div>
    <div id="正文">
        <span>悬赏令</span>
    </div>
    <div id="上图片">
        <div class="路飞"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2570016451,2685765088&fm=26&gp=0.jpg"></div>
        <div class="索隆"><img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=657069401,3692778443&fm=26&gp=0.jpg" ></div>
        <div class="乌索普"><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F201607%2F04%2F20160704125933_ciauB.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611468870&t=428b756f2bae26fc8f839e31396286ab"></div>
        <div class="山治"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3983094463,354969919&fm=15&gp=0.jpg"></div>
        <div class="娜美"><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201607%2F04%2F20160704125957_tyiUm.thumb.700_0.jpeg&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611468919&t=a2dc05fae0dc3d95a2203e308073eac6"></div>
        <div class="乔巴"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2675234704,903197142&fm=26&gp=0.jpg"></div>
    </div>  -->

    <div id="中间">
        <div id="yong">
            <a href=https://www.baidu.com/ target="_blank" >百度</a>  <!--在新网页打开-->
            <a href=http://fanyi.baidu.com/ target="_blank">百度翻译</a>
            <a href=http://fanyi.youdao.com/ target="_blank">有道词典</a>
            <a href=https://translate.google.cn/ target="_blank">谷歌翻译</a>
            <a href=https://fanyi.sogou.com/text target="_blank">搜狗翻译</a>
            <a href=https://www.deepl.com/translator target="_blank">翻译</a>
            <br>
            <a href=https://www.bilibili.com/ target="_blank">b站</a>
            <a href=https://www.zhihu.com/ target="_blank">知乎</a>
            <a href=https://www.csdn.net/ target="_blank">csdn</a>
            <a href=https://www.cnblogs.com/ target="_blank">博客云</a>
            <a href=https://c.runoob.com/front-end/854 target="_blank">正则测试</a>
            <a href=https://www.runoob.com/ target="_blank">菜鸟助手</a>
            <a href=https://www.w3school.com.cn/ target="_blank">w3school</a>
            <a href=https://www.layuiweb.com/ target="_blank">layui</a>
            <a href=https://codepen.io/ target="_blank">在线网站</a>
        </div>
        
        <br>
        
        <div id="changyong">
            <a href=https://ac.nowcoder.com/acm/home/947562388 target="_blank">nowcoder</a>
            <a href=https://www.luogu.com.cn/problem/list target="_blank">luogu</a>
            <a href=https://codeforces.com/ target="_blank">codeforces</a>
            <a href=https://www.codechef.com/ target="_blank">codechef</a>
            <a href=https://pintia.cn/ target="_blank">pta</a>
            <a href=https://leetcode-cn.com/ target="_blank">leetcode</a>
            <br>
            <a href=https://vjudge.net/ target="_blank">vjudge</a>
            <a href=https://www.acwing.com/ target="_blank">acwing</a>
            <a href=https://www.lanqiao.cn/ target="_blank">lanqiao</a>
            <a href=https://loj.ac/ target="_blank">loj</a>
            <a href=http://acm.hdu.edu.cn target="_blank">hdu</a> 
            <a href=http://acm.dingbacode.com target="_blank">hdu2</a> 
            <a href=http://zoj.pintia.cn target="_blank">zoj</a>
            <a href=http://poj.org/ target="_blank">poj</a>
            <a href=https://atcoder.jp/home target="_blank">atcoder</a>    
        </div>
        
        <br>
        
        <div id="yiban">
            <a href=https://acm.ecnu.edu.cn/ target="_blank">ecnu</a>
            <a href=http://acm.zzuli.edu.cn/problemset.php target="_blank">zzuli</a>
            <a href=http://www.jsuacm.cn target="_blank">jsu</a>
            <a href=https://oj.undefined.moe/ target="_blank">hydro</a>
            <a href=http://www.tzcoder.cn/acmhome/welcome.do?method=index target="_blank">tz</a>
            <a href=https://uoj.ac/ target="_blank">uoj</a>
            <a href=http://ybt.ssoier.cn:8088/index.php target="_blank">ssoier</a>
            <a href=https://cpc.csgrandeur.cn/ target="_blank">csg</a>
            <br>
            <a href=https://acm.521207.xyz/problemset.php target="_blank">zime2020</a>
            <a href=http://106.53.134.113/index.php target="_blank">zime2021</a>
            <a href=https://cftracker.netlify.app/contests target="_blank">cftracker</a>
            <a href=https://xjoi.net/ target="_blank">学军</a>
            <a href=https://citel.bjtu.edu.cn/acm/ target="_blank">北京交通</a>

            <a href=https://ojhunt.com/ target="_blank">做题统计</a>

            <br>
            <a href=https://cn.vuejs.org/index.html target="_blank">vuejs</a>
            <a href=https://element.eleme.io/#/zh-CN target="_blank">element-ui</a>
            <a href=https://www.iviewui.com/ target="_blank">iviewui</a>
            <a href=https://echarts.apache.org/zh/index.html target="_blank">echarts</a>
            <a href=https://www.vuepress.cn/ target="_blank">vuepress</a>
            <a href=https://baomidou.com/ target="_blank">mybatis-plus</a>
            <a href=https://halo.run/ target="_blank">halo</a>
            <a href=https://hexo.io/zh-cn/ target="_blank">hexo</a>

            <a href=https://www.bt.cn/new/index.html target="_blank">宝塔</a>

        </div>
        
        <br>
        
        <div href="shadiao">
            <a href=https://tool.lu/diff/ target="_blank">代码对比</a>
            <a href=https://www.diffchecker.com/diff target="_blank">代码对比</a>
            <a href=https://paste.ubuntu.com/ target="_blank">写代码</a>
            <a href=https://ideone.com/ target="_blank">ideone</a>
            <a href=https://paste.centos.org/ target="_blank">centos</a>
            <a href=https://board.xcpcio.com/ target="_blank">看榜</a>
            <a href=https://gitee.com/ target="_blank">gitee</a>
            <a href=https://github.com/ target="_blank">github</a>
            <a href=https://www.desmos.com/calculator?lang=zh-CN target="_blank">画函数</a>
            <a href=http://oeis.org/hints.html target="_blank">数列</a>
            <a href=https://www.cnblogs.com/1024th/p/11623258.html target="_blank">latex公式</a>
            <a href=http://www.dooccn.com/ target="_blank">在线运行</a>
            <a href=https://icpc.global/ target="_blank">icpc</a>
            <a href=https://ccpc.io/ target="_blank">ccpc</a>
            <a href=https://www.latexlive.com/ target="_blank">latex</a>
            <br>
            <a href=https://www.btnull.org/ target="_blank">片库</a>
            <a href=https://www.nkvod.cc target="_blank">南柯</a>
            <a href=https://www.lkvod.com/ target="_blank">南柯2</a>
            <a href=http://www.5ying.fun/ target="_blank">555</a>
            <a href=https://cupfox.app/ target="_blank">茶杯狐</a>
            <a href=https://ddrk.me/tag/recommend/ target="_blank">低端</a>
            <a href=http://zime.fanya.chaoxing.com/portal target="_blank">学习通</a>
            <a href=https://www.zjooc.cn/ target="_blank">zjooc</a>
            <a href=https://newvpn.zime.edu.cn/login/login.html target="_blank">vpn</a>
            <a href=https://www.douyu.com/ target="_blank">斗鱼</a>
            <a href=https://www.huya.com/ target="_blank">虎牙</a>
            <a href=http://rutracker.in/ target="_blank">rutracker</a>
            <br>
            <a href=https://xiezuocat.com/#/ target="_blank">秘塔写作猫</a>
            <a href=https://app.diagrams.net/ target="_blank">流程图</a>
            <a href=https://www.wailian.work/ target="_blank">上传照片</a>
            <a href=https://quickref.me/ target="_blank">quickref</a>
            <a href=https://noisevip.cn/ target="_blank">nv资源网</a>
            <a href=https://www.toolmao.com/#term-102 target="_blank">工具猫</a>
            <a href=https://flk.npc.gov.cn/ target="_blank">律法</a>
            <a href=https://color.uisdc.com/pick.html  target="_blank">颜色选取</a>
            

        </div>

        <br>

        <div href="yule">
            
            <a href=https://note.ms/nyco target="_blank">留言本</a>
            <a href=https://oi-wiki.org/ target="_blank">oi</a>
            <a href=http://noi.openjudge.cn/ target="_blank">open</a>
            <a href=http://120.78.128.11/index.jsp target="_blank">120</a>
            <a href=http://51xinao.com/loginpage.php target="_blank">乐清</a>
            <a href=http://www.usaco.org/index.php target="_blank">usaco</a>
            <a href=https://www.educity.cn/tiku/zt100110011004-1.html target="_blank">软考</a>
            <a href=https://oj.czos.cn/ target="_blank">东方</a>
            <a href=https://www.51nod.com/Challenge/Problem.html#problemId=1959 target="_blank">51nod</a>
            <a href=http://openjudge.cn/ target="_blank">openjudge</a>
            <a href=http://noobdream.com/DreamJudge/Contest/index_judge/ target="_blank">n诺</a>
            <a href=http://182.92.175.181/ target="_blank">buct</a>
            <a href=http://oj.fjaxyz.com:3389/ target="_blank">metocode</a>
            <a href=http://noi-test.zzstep.com/ target="_blank">noi</a>
            <a href=https://www.zybuluo.com/mdeditor#2272516 target="_blank">zybuluo</a>
            <br>
            <a href=http://lab.mkblog.cn/dinosaur/  target="_blank">恐龙快跑</a>
            <a href=http://lab.mkblog.cn/FCGames/#/ target="_blank">游戏机</a>
            <a href=https://theuselessweb.com/ target="_blank">发呆</a>
            <a href=https://suulnnka.github.io/BullshitGenerator/index.html?%E4%B8%BB%E9%A2%98=%E5%AD%A6%E7%94%9F%E4%BC%9A%E9%80%80%E4%BC%9A&%E9%9A%8F%E6%9C%BA%E7%A7%8D%E5%AD%90=2140543336 target="_blank">文章生成</a>
            <a href=https://ppt.sotary.com/web/wxapp/index.html target="_blank">ppt模板</a>
            <a href=https://www.lanrenexcel.com/ target="_blank">excel</a>
            <a href=https://pixabay.com/zh/images/search/?order=ec&pagi=2 target="_blank">素材</a>
            <a href=https://vocalremover.org/ch/ target="_blank">调音</a>
            <a href=https://barneyzhao.gitee.io/typing-cn/#/ target="_blank">打字</a>
            <a href=https://wallhaven.cc/ target="_blank">壁纸</a>
            <a href=https://xiaomark.com/tool target="_blank">工具1</a>
            <a href=https://tooltt.com/ target="_blank">工具2</a>
            <a href=https://www.toolfk.com/ target="_blank">工具3</a>
            <a href=https://ujuji.com/ target="_blank">工具5</a>
            <br>
            <a href=https://www.pdfpai.com/ target="_blank">pdf</a>
            <a href=https://visualgo.net/zh target="_blank">yami</a>
            <a href=https://aidn.jp/mikutap/ target="_blank">music</a>
            <a href=https://www.cxyxiaowu.com/suanfa-2/manhuasuanfa target="_blank">无聊看</a>
            <a href=https://mijisou.com/ target="_blank">无</a>
            <br>
            <a href=http://patorjk.com/software/taag/#p=display&f=Graffiti&t=welcome%20to%202048%20 target="_blank">字符画</a>
            <a href=https://www.ghxi.com/ target="_blank">果核</a>
            <a href=https://msdn.itellyou.cn/ target="_blank">msdn</a>
            <a href=https://www.qijishow.com/ target="_blank">奇秀</a>

            <a href=https://arr003.network/download/ target="_blank">梯子</a>
            <a href=https://sorry.xuty.tk/wangjingze/ target="_blank">表情包制作</a>

            <a href=http://vue.awesometiny.com/ target="_blank">vue组件</a>

           

            
        </div>

    </div>   

    <!-- <div id="下图片">
        <div class="梅利">
            <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2757090239,2539148094&fm=26&gp=0.jpg">
        </div>
        <div class="罗宾">
            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=539124320,3889005374&fm=26&gp=0.jpg">
        </div>
        <div class="布鲁克">
            <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=427465492,2097797883&fm=26&gp=0.jpg">
        </div>
        <div class="弗兰奇">
            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1834245530,2647713001&fm=26&gp=0.jpg">
        </div>
        <div class="甚平">
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1064235574,2087839200&fm=26&gp=0.jpg">
        </div>
        <div class="桑尼">
            <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201506%2F06%2F20150606154324_4fM8v.thumb.700_0.jpeg&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650160269&t=240c6172e7c5a8daf2667bcb3ed003b5">
        </div>
    </div> -->

</body>
</html>